.container {
    width: 50%;
    padding: 20px;
    border: 2px solid none;
  }
  
  .jumbotron {
    background-color: #e7e4e4;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black; /*rgba(0, 0, 0, 0.1)*/
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-control:focus {
    box-shadow: 0px 0px 5px #e72929;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
  }
  .row{
    border: 1px solid rgb(168, 162, 162);
  }
  button[type="submit"] {
    background-color: #202020;
    color: #fff;
    border: none;
    margin-left: 260px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0a0505;
  }

  
  /*.alert {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

.alert-danger {
    color: red;
}*/