<div class="card">
    <div class="card-head">
        <div class="title"> Demande Avarie</div>
        <div class="search-container">
            <mat-form-field style="width: 180px;margin-left: 15px;">
                <input (input)="searchDemandes(filter.value)" matInput placeholder="search demand" type="text"
                    style="width: 190px;" #filter>
                <mat-icon fontIcon="search" matSuffix></mat-icon>
            </mat-form-field>
        </div>

    </div>

    <div class="card-body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort *ngIf="dataSource.data.length > 0">

            <ng-container matColumnDef="id_demande">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Demand ID </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.id_demande}} </td>
            </ng-container>

            <ng-container matColumnDef="date_demande">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Demande </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.date_demande}} </td>
            </ng-container>

            <ng-container matColumnDef="type_avarie">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Type Avarie</th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.type_avarie}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> description </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.description}} </td>
            </ng-container>

            <ng-container matColumnDef="date_avarie">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Avarie </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.date_avarie}} {{Demande.heure_avarie}}</td>
            </ng-container>


            <ng-container matColumnDef="statut">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> statut </th>
                <td mat-cell *matCellDef="let Demande" [ngClass]="getStatutClass(Demande.statut)"> {{Demande.statut}}
                </td>
            </ng-container>


            <ng-container matColumnDef="vehicule">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicule </th>
                <td mat-cell *matCellDef="let Demande">{{Demande.numparc}} _ {{Demande.immatricule}} _
                    {{Demande.modele}} </td>
            </ng-container>


            <ng-container matColumnDef="nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> nom </th>
                <td mat-cell *matCellDef="let Demande">{{Demande.matricule_chauf}}: {{Demande.nom}} {{Demande.prenom}}
                </td>
            </ng-container>

            <ng-container matColumnDef="cin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> cin </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.cin}} </td>
            </ng-container>

            <ng-container matColumnDef="telephone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> telephone </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.telephone}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> email </th>
                <td mat-cell *matCellDef="let Demande"> {{Demande.email}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let demande">
                    <button mat-icon-button (click)="updateStatus(demande)" color="primary" matTooltip="edit"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button color="green" mat-icon-button (click)="diagnosticDemande(demande)" matTooltip="Diagnostic"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>assignment_turned_in</mat-icon><!--bar_chart-->
                    </button>

                    <!--<button style="height: 27px;margin-left: 20px;" mat-icon-button (click)="deleteDemande(demande.id_demande)"
                        color="warn" matTooltip="delete"
                        aria-label="Button that displays a tooltip when focused or hovered over">
                        <mat-icon>delete</mat-icon>
                    </button>-->
                </td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let demandes; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>

    </div>
</div>
















<!--<div class="card">
    <div class="card-head">
        <div class="title">Demande Avarie</div>
        <div class="search-container">
            <mat-form-field style="width: 180px; margin-left: 15px;">
                <input (input)="searchDemandes(filter.value)" matInput placeholder="Search demand" type="text"
                    style="width: 190px;" #filter>
                <mat-icon fontIcon="search" matSuffix></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="card-body">
        <mat-list *ngIf="dataSource.data.length > 0">
            <mat-list-item *ngFor="let demande of dataSource.data">

                <mat-card class="demande-card" appearance="outlined">
                    <mat-card-header>
                        <mat-card-title>Demande ID: {{ demande.id_demande }}</mat-card-title>
                        <mat-card-subtitle>Type Avarie: {{ demande.type_avarie }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                            <p><strong>Date Demande:</strong> {{ demande.date_demande }}</p>
                            <p><strong>Description:</strong> {{ demande.description }}</p>
                            <p><strong>Date Avarie:</strong> {{ demande.date_avarie }} {{ demande.heure_avarie }}</p>
                            <p><strong>Statut:</strong> <span
                                    [ngClass]="getStatutClass(demande.statut)">{{demande.statut}}</span></p>

                            <p><strong>Véhicule: </strong>{{demande.vehicule?.idvehicule}} {{ demande.numparc}} - {{demande.immatricule }} - {{demande.modele }} {{demande.vehicule?.annee }} {{demande.vehicule?.etat }}</p>

                            <p><strong>Chauffeur:</strong>{{demande.chauffeur?.id_chauf}} {{ demande.matricule_chauf }}: {{demande.nom }} {{demande.prenom }}</p>

                            <p><strong>CIN:</strong> {{ demande.cin }}</p>
                            <p><strong>Téléphone:</strong> {{ demande.telephone }}</p>
                            <p><strong>Email:</strong> {{ demande.email  }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button (click)="updateStatus(demande)" color="primary" matTooltip="Edit">
                            <mat-icon matListItemIcon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="deleteDemande(demande.id_demande)" color="warn"
                            matTooltip="Delete">
                            <mat-icon matListItemIcon>delete</mat-icon>
                        </button>
                    </mat-card-actions>

                    
                </mat-card>

                
            </mat-list-item>
        </mat-list>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>-->


















<!--<div class="card">
    <div class="card-head">
        <div class="title">Demande Avarie</div>
        <div class="search-container">
            <mat-form-field style="width: 180px; margin-left: 15px;">
                <input (input)="searchDemandes(filter.value)" matInput placeholder="Search demand" type="text"
                    style="width: 190px;" #filter>
                <mat-icon fontIcon="search" matSuffix></mat-icon>
            </mat-form-field>
        </div>
    </div>

    <div class="card-body">
        <mat-list *ngIf="dataSource.data.length > 0">
            <mat-list-item *ngFor="let demande of dataSource.data">
                <mat-card class="demande-card">
                    <mat-card-header>
                        <mat-card-title>Demande ID: {{ demande.id_demande }}</mat-card-title>
                        <mat-card-subtitle>Type Avarie: {{ demande.type_avarie }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p><strong>Date Demande:</strong> {{ demande.date_demande }}</p>
                        <p><strong>Description:</strong> {{ demande.description }}</p>
                        <p><strong>Date Avarie:</strong> {{ demande.date_avarie }} {{ demande.heure_avarie }}</p>
                        <p><strong>Statut:</strong> <span [ngClass]="getStatutClass(demande.statut)">{{ demande.statut }}</span></p>

                        <p><strong>Véhicule:</strong> {{ demande.numparc }} - {{ demande.immatricule }} - {{ demande.modele }}</p>
                        
                        <p><strong>Chauffeur:</strong> {{ demande.matricule_chauf }}: {{ demande.nom }} {{ demande.prenom }}</p>
                        <p><strong>CIN:</strong> {{ demande.cin }}</p>
                        <p><strong>Téléphone:</strong> {{ demande.telephone }}</p>
                        <p><strong>Email:</strong> {{ demande.email }}</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-icon-button (click)="updateStatus(demande)" color="primary" matTooltip="Edit">
                            <mat-icon>edit</mat-icon>
                        </button>
                        
                    </mat-card-actions>
                </mat-card>
            </mat-list-item>
        </mat-list>

    </div>
</div>
-->