<div class="container">
    <h2 mat-dialog-title>{{ chauffeur.id_chauf ? 'Update' : 'Add' }} Driver</h2>

    <mat-dialog-content>
        <form #chauffeurForm="ngForm">
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input matInput [(ngModel)]="chauffeur.nom" name="nom" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Last Name</mat-label>
                <input matInput [(ngModel)]="chauffeur.prenom" name="prenom" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Driver's registration number</mat-label>
                <input matInput [(ngModel)]="chauffeur.matricule_chauf" name="matricule_chauf" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Identity Card</mat-label>
                <input matInput [(ngModel)]="chauffeur.cin" name="cin" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone</mat-label>
                <input matInput [(ngModel)]="chauffeur.telephone" name="telephone" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="chauffeur.email" name="email" required>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Photo</mat-label>
                <input matInput [value]="selectedFileName" readonly />
            </mat-form-field>

            <button mat-button (click)="triggerClick()">Choisir un fichier</button>
            <input type="file" #fileInput (change)="onFileSelect($event)" style="display: none;" />

            <!--<mat-form-field>
                <mat-label for="photo">Photo</mat-label>
                <input matInput [(ngModel)]="chauffeur.image" name="image" required>
                <file-uploader (onFileSelect)="onFileSelect($event)"></file-uploader>
                <div class="invalid-feedback" *ngIf="submitted && userForm.controls.photo.invalid">
                    <div *ngIf="chauffeurForm.controls.photo.errors.required">photo is required</div>
                </div>
                <div class="text-danger" *ngIf="uploadError">{{uploadError}}</div>
            </mat-form-field>-->

            <div *ngIf="chauffeurForm.invalid && (chauffeurForm.dirty || chauffeurForm.touched)" class="error-message">
                All fields must be completed.
            </div>
        </form>
    </mat-dialog-content>

    <div class="buton">
        <mat-dialog-content>
            <button mat-button (click)="dialogRef.close()">Cancel</button>
            <button mat-button color="primary" (click)="saveChauffeur(chauffeurForm)">Save</button>

        </mat-dialog-content>
    </div>
</div>